/* ------------M-web----------- */
@media screen and (max-width: 1000px) {
	.buyAndCartBtn {
		display: flex;
		justify-content: center;
		align-self: center;
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 1000px) {
	.buyBtn,
	.CartBtn {
		width: 40%;
		height: 50px;
		font-size: 18px !important;
	}
}

@media screen and (max-width: 550px) {
	.buyBtn,
	.CartBtn {
		width: 50%;
		height: unset;
		padding: 5px !important;
		font-size: 15px !important;
	}
}
