a {
	text-decoration: unset;
}

#loginPage,
#CreateAccPage {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #242526;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
	color: white;
}

#wrapper {
	background-color: #2a2b2d;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	border-radius: 5px;
	text-align: center;
	padding: 50px 0;
	width: 70%;
}

#myLogo {
	margin-top: -20px;
	height: 150px;
}

#Title {
	color: lightgray;
	margin-bottom: 20px;
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 1px;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	font-size: 17px;
	box-shadow: 0 2px 4px rgba(192, 192, 192, 0.1);
	border: #2e2c2c 2px solid;
	border-radius: 5px;
	width: 400px;
	height: 40px;
	padding-left: 12px;
	outline: unset;
}

input:hover {
	border: #757575 2px solid;
}

.inputBottomMargin {
	margin-bottom: 20px;
}

input:focus {
	border: rgb(0, 140, 255) 2px solid;
}

#showPassword {
	display: flex;
	justify-content: left;
	width: 400px;
	margin: 10px 0 20px -10px;
	justify-items: left;
	user-select: none;
}

hr {
	background: #dadde1 !important;
	margin: 15px 80px !important;
}

#login {
	background-color: #0091ea;
	color: white;
	font-weight: 700;
	font-size: 105%;
	letter-spacing: 0.5px;
	width: 40%;
	height: 43px;
	border-radius: 3px;
	border: 1px black solid;
	border: unset;
	cursor: pointer;
	user-select: none;
	margin-top: 10px;
}

#login:hover {
	background-color: #1f61b8;
}

.isLogin {
	background-color: #164077 !important;
	pointer-events: none;
}

.red {
	margin-top: 10px;
	margin-bottom: 40px;
	color: red;
	font-size: 80%;
}

#forgotPass {
	color: white;
}

#forgotPass:hover {
	text-decoration: underline;
}

#createAcc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #42b72a;
	color: white;
	font-weight: 600;
	font-size: 100%;
	border: unset;
	border-radius: 5px;
	height: 45px;
	width: 40%;
	margin: auto;
	margin-top: 30px;
	padding: 0 10px;
}

#createAcc:hover {
	background-color: #358026;
}

#signup {
	user-select: none;
	background-color: #42b72a;
	color: white;
	font-weight: 600;
	font-size: 100%;
	width: 40%;
	height: 40px;
	border: unset;
	border-radius: 5px;
}

#signup:hover {
	background-color: #306e23 !important;
}

.isSignup {
	background-color: #306e23 !important;
	pointer-events: none;
}

#alreadyAcc a {
	color: white;
}

#alreadyAcc a:hover {
	color: rgb(130, 193, 230);
	text-decoration: underline;
}

/* -----------mWeb----------- */
@media screen and (max-width: 700px) {
	#myLogo {
		height: 100px;
	}

	#wrapper {
		width: 100%;
		padding: 50px 5px;
	}
}

@media screen and (max-width: 475px) {
	input {
		width: 90%;
		font-size: 15px;
		height: 35px;
	}

	#showPassword {
		width: 90%;
	}

	#login,
	#createAcc {
		width: 50%;
	}

	hr {
		background: #dadde1 !important;
		margin: 15px 30px !important;
	}
}
