.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(54, 54, 54);
	outline: unset;
	width: 90%;
	height: 90%;
	border-radius: 8px;
	overflow: hidden;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: rgba(102, 51, 153, 0.506);
}

.modalCourseBox {
	width: 100%;
	overflow: auto;
	height: calc(100% - 60px);
	padding-bottom: 100px;
}

.courseImgAndName {
	display: flex;
	margin: 15px 0 0 15px;
}

.modalCourseImg {
	height: 300px;
	width: 300px;
	object-fit: cover;
}

.courseNameAndPrice {
	width: 100%;
	margin-left: 15px;
}

.courseType {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: bold;
}

.courseTypeInput {
	width: calc(90% - 20px);
	/* font-size: 20px; */
	/* font-weight: bold; */
	/* padding: 5px 10px; */
	margin-bottom: 10px;
}

.courseTitleInput,
.coursePriceInput,
.demoVideoLinkInput,
.courseLinkInput {
	width: calc(90% - 20px);
	margin-bottom: 10px !important;
}

.courseThumbnailInput {
	font-size: unset;
	margin: 10px 0;
}

.courseDetailsInputArea {
	min-height: 150px;
	margin: 15px;
	font-family: unset;
	font-size: 15px;
	resize: vertical;
}

.aboutCourseInput {
	width: calc(90% - 20px);
	border-radius: 3.5px;
	min-height: 150px;
	margin-bottom: 10px;
	background-color: unset;
	color: white;
	padding: 5px 10px;
	font-family: unset;
	font-size: 16px;
	resize: vertical;
}

.aboutCourseInput:hover {
	border-color: white;
}

@media screen and (max-width: 1000px) {
	.modalCourseBox {
		text-align: center;
	}

	.courseTitleInput,
	.coursePriceInput,
	.demoVideoLinkInput,
	.courseLinkInput,
	.aboutCourseInput,
	.courseTypeInput {
		width: calc(100% - 20px);
	}

	.courseDetailsInputArea {
		margin: 10px 0 0 0;
	}

	.courseImgAndName {
		display: block;
		margin: unset;
	}

	.courseNameAndPrice {
		margin: unset;
	}
}

@media screen and (max-width: 400px) {
	.modal {
		width: 95%;
		height: 85%;
	}
}

@media screen and (max-height: 650px) and (min-height: 500px) {
	#elementBox {
		height: 84%;
	}
}

@media screen and (max-height: 500px) {
	#elementBox {
		height: 80%;
	}
}

@media screen and (max-height: 400px) {
	.modal {
		height: 95%;
	}
}
